@{
    ViewData["Title"] = "Projeto de Bloco";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvemos um mvc basic para uma rede social para pets e seus tutores.</p>
<p>Com intuito de fazer seus pets encontrem amigos.</p>

<p>Desenvolvido por esses toppers: </p>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thiago Vinícius</h5>
                <p class="card-text">Segue o link do linkedin.</p>
                <a href="https://www.linkedin.com/in/thiago-vin%C3%ADcius-1813521b9/" class="btn btn-primary">Linkedin</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
           
                <h5 class="card-title">Monalysa Yoshikawa</h5>
                <p class="card-text">Segue o link do linkedin.</p>
                <a href="https://www.linkedin.com/in/monalysa-yoshikawa/" class="btn btn-primary">Linkedin</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Renan Herrmann</h5>
                <p class="card-text">Segue o link do linkedin.</p>
                <a href="https://www.linkedin.com/in/r-herrmann/" class="btn btn-primary">Linkedin</a>
            </div>
        </div>
    </div>
</div>
