@model User

<h1 class="mb-6 text-center">Faça seu login</h1>


@using (Html.BeginForm("ProcessLogin", "Auth", FormMethod.Post))
{
    <div class="form-group">
        <label for="username">Seu nome</label>
        @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder="Username"})
    </div>
    <div class="form-group mt-3">
        <label for="password">Senha</label>
        @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder="password"})

    </div>

    <button type="submit" class="btn btn-primary mt-3">Logar</button>
}
</div>


