@model User

<h1 class="mb-6 text-center">Faça seu login</h1>


@using (Html.BeginForm("ProcessLogin", "Auth", FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label for="username">Seu Usuário</label>
            @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder="Seu usuário"})
            <small id="emailHelp" class="form-text text-muted">
                Nunca compartilharemos seu e-mail com mais ninguém.
            </small>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder="Sua senha"})
        </div>

        <button type="submit" class="btn btn-primary mt-3">Logar</button>
    </form>
}


